@import 'meyer-reset.css';
*,
*::after,
*::before{
    box-sizing: border-box;
} /*this fixed the timeline issues*/

img {
    display: block;
    width: 100%;
    height: auto;
}

 /*     structure     */
body{
    font-family: "Inter", sans-serif;
    overflow-y: scroll;
    padding-top: 50px;
    background-color: #fefdf5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

section{
    min-height: 200px;
    margin-bottom: 100px;
}

h2{
    font-weight: 600;
    font-size: 18pt;
}

.inner-column{
    min-height: 10px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
 /* components */
 .welcome{
    min-height: 95vh;
    padding-top: 125px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 .scroll{
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
 }

 .scroll p{
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 20px;
 }

 .two-panel{   
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
 }
 
 .coursework{
    padding-top: 50px;
 }
 
 .welcome-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .loud-intro{
    font-size: 90px;
    font-weight: 800;
    line-height: .9;
    font-family: "Cormorant Garamond", sans-serif;
 }
 .loud-intro2{
    font-size: 70px;
    font-family: "Cormorant Garamond", sans-serif;
    font-weight: 800;
 }

 .calm-intro{
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 25px;
    line-height: 1.2;
 }
 .calm-intro2{
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
 }

 .two-panel .image{
    width: 40%;
  }

  .two-panel img{
    border-radius: 50%;
  }

h2{
    text-align: center;
    font-weight: 500;
}

.skills-wrapper{
    flex-wrap: wrap;
}

.skills-wrapper div{
    border: 2pt solid rgb(185, 92, 105);
    height: auto;
    height: 200px;
    margin: 10px;
    flex-basis: 20%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow .3s ease, transform 0.3s ease;
    box-shadow: 0 0 7px 1px rgb(185, 92, 105);
}

.skills-wrapper .card img{
    width: 60px;
    transition: transform 0.3s ease;
}

.skills-wrapper div:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px 1px rgb(185, 92, 105);
}

.projects-wrapper, .skills-wrapper{
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 40px auto;
}

.projects-wrapper div{
    flex-basis: 45%;
    border-radius: 2%;
    margin-bottom: 100px;
}

.card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  .card img{
    width: 200px;
  }
  
  /* This container is needed to position the front and back side */
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    text-align: center;
    background-color:rgb(185, 92, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6e6dc;
    font-family: "Lato";
    font-weight: 700;
  }
  
  .card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  .card-back {
    transform: rotateY(180deg);
    color: #e6e6dc;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
  }

  .about-wrapper{
    display: flex;
    gap: 20px;
    max-width: 1000px;
    margin: 50px auto;
  }

  .about-img{
    transition: transform .3s ease;
    overflow: hidden;
    flex-basis: 70%;
  }

  .about-wrapper div:hover img{
    transform: scale(1.1);
    transform-origin: 50% 50%;
  }

  .about-wrapper img{
    transition: transform .4s;
  }

  .about-wrapper .text-wrap{
    background-color: rgb(185, 92, 105);
    color: #e6e6dc;
    line-height: 30px;
    padding: 30px 40px;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

 /*         start of nav bar       */
 .nav-wrapper{
    background-color: #38527b;
    z-index: 1;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    -webkit-backdrop-filter: blur(8px); 
    backdrop-filter: blur(8px);  /* This line activates blur*/
 }
 
 .nav-container {
    width:95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
 }
 
 .nav-container nav {
    margin: 0 auto;
    padding: 0 8;
    height: 100%;
 }

 nav .desktop-nav {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
    height: 100%;
    list-style: none;
 }

 .nav-bar{
    flex: 1;
    justify-content: flex-end;
 }

 .logo img{
    width:45px;
    padding-top:4px
 }

 nav .desktop-nav li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    opacity: .8;
    transition: opacity 400ms;
 }

 nav .desktop-nav li a:hover {
    opacity: 1.2;
 }

/* footer */

.global-footer{
    background-color: #38527b;
    position: relative;
    width: 100%;
    height: auto;
    padding: 40px 20px 30px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}

.footer-nav{
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.footer-nav-list{
    list-style: none;
}
.footer-nav-list li{
    margin: 5px 0;
}
.footer-nav-list li a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    opacity: .7;
    font-size: 13px;
    transition: opacity 400ms;
}
.footer-nav-list li a:hover{
    opacity: 1.0;
}

.socials-section p{
    color: white;
    font-weight: 600;
    font-size: 17px;
}
.socials-container{
    display: flex;
}

.socials-container a{
    background-color: white;
    text-decoration: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease, transform 0.3s ease;
}
.socials-container a i{
    font-size: 1em;
    color: black; 
}

.socials-container a:hover i{
    color: #00bfff;
}

.socials-container a:hover{
    box-shadow: 0 0 20px rgba(173, 216, 230, 0.8); /* Light blue glow */
    transform: scale(1.1);
}

.footer-credits .made-by{
    font-weight: 600;
    font-weight: 600;
    font-size: 17px;
}

.footer-credits p{
    color: white;
    font-size: small;
    font-weight: 300;
}
.footer-credits img{
    width: 80px;
}